<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/header.css" />
    <link rel="stylesheet" type="text/css" href="./css/footer.css" />
    <link rel="stylesheet" type="text/css" href="./css/titlePage.css" />

    <link rel="stylesheet" type="text/css" href="./css/address.css" />

    <title>Pega!</title>
  </head>
  <body>
    <%- include('./partials/header.ejs'); -%>

    <main>
      <div class="titlePage">
        <h1>Meus endereços</h1>
        <button onclick="javascript:location.href='/addAddress'">
          adicionar endereço
        </button>
      </div>

      <div id="addressList"></div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"
    ></script>
    <%- include('./partials/footer.ejs'); -%>
    <script src="./js/address.js"></script>
  </body>
</html>
