<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/header.css" />
    <link rel="stylesheet" type="text/css" href="./css/footer.css" />
    <link rel="stylesheet" type="text/css" href="./css/newsletter.css" />

    <title>Pega!</title>
  </head>
  <body>
    <%- include('./partials/header.ejs'); -%>
    <main>
      <div id="banner">
        <img src="./assets/banner.png" alt="Anúncio Pega!" />
      </div>

      <div id="textbody">
        <div id="notice">
          <p>
            <strong>Pegue</strong> no site, receba em <strong>casa</strong> ou
            <strong>pegue em mãos =)</strong>
          </p>
        </div>
      </div>

      <section>
        <div class="ad">
          <div class="content">
            Ofertas selecionadas <strong>para você!</strong>
          </div>
          <div class="content2">ver mais ></div>
        </div>

        <div class="items">
          <div class="item">
            <a href="">
              <img src="./assets/item.png" alt="foto do anuncio" />
              <div class="info">
                <div class="row">
                  <div class="price">R$ 20,00</div>
                </div>
                <div class="name">Camiseta Laranja básica</div>
                <div class="user">Brechó do Nathan</div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="">
              <img src="./assets/alice.png" alt="foto do anuncio" />
              <div class="info">
                <div class="row">
                  <div class="price">R$ 20,00</div>
                </div>
                <div class="name">Regata branca</div>
                <div class="user">Brechó da Alice</div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="">
              <img src="./assets/rodrigues.png" alt="foto do anuncio" />
              <div class="info">
                <div class="row">
                  <div class="price">R$ 20,00</div>
                </div>
                <div class="name">Camisa florida com botão</div>
                <div class="user">Brechó do Rodrigues</div>
              </div>
            </a>
          </div>

          <div class="item">
            <div class="inPromo"><p class="percent">20% off</p></div>
            <a href="">
              <img src="./assets/livia.png" alt="foto do anuncio" />
              <div class="info">
                <div class="row">
                  <div class="was">R$ 20,00</div>
                  <div class="price">R$ 15,00</div>
                </div>
                <div class="name">Ciganinha tomara que caia</div>
                <div class="user">Fuá Coletivo</div>
              </div>
            </a>
          </div>
        </div>
      </section>

      <section id="adpega">
        <div class="ad pega">
          <div class="content">Encontre seu <strong>estilo</strong></div>

          <div class="photogrid">
            <img src="./assets/1.png" alt="" id="img1" />
            <div id="breakpoint">
              <img src="./assets/2.png" alt="" id="img2" />
              <div id="breakpoint2">
                <img src="./assets/3.png" alt="" id="img3" />
                <img src="./assets/4.png" alt="" id="img4" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="ad">
          <div class="content">
            <strong>Quem pegou, pega: </strong>
          </div>
        </div>

        <div class="items">
          <div class="item">
            <a href="">
              <img src="./assets/item.png" alt="foto do anuncio" />
              <div class="info">
                <div class="row">
                  <div class="price">R$ 20,00</div>
                </div>
                <div class="name">Camiseta Laranja básica</div>
                <div class="user">Brechó do Nathan</div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="">
              <img src="./assets/alice.png" alt="foto do anuncio" />
              <div class="info">
                <div class="row">
                  <div class="price">R$ 20,00</div>
                </div>
                <div class="name">Regata branca</div>
                <div class="user">Brechó da Alice</div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="">
              <img src="./assets/rodrigues.png" alt="foto do anuncio" />
              <div class="info">
                <div class="row">
                  <div class="price">R$ 20,00</div>
                </div>
                <div class="name">Camisa florida com botão</div>
                <div class="user">Brechó do Rodrigues</div>
              </div>
            </a>
          </div>

          <div class="item">
            <div class="inPromo"><p class="percent">20% off</p></div>
            <a href="">
              <img src="./assets/livia.png" alt="foto do anuncio" />
              <div class="info">
                <div class="row">
                  <div class="was">R$ 20,00</div>
                  <div class="price">R$ 15,00</div>
                </div>
                <div class="name">Ciganinha tomara que caia</div>
                <div class="user">Fuá Coletivo</div>
              </div>
            </a>
          </div>
        </div>
      </section>
      <section>
        <%- include('./partials/newsletter.ejs'); -%>
      </section>
    </main>

    <%- include('./partials/footer.ejs'); -%>
  </body>
</html>
