<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/header.css" />
    <link rel="stylesheet" type="text/css" href="./css/footer.css" />
    <link rel="stylesheet" type="text/css" href="./css/profile.css" />
    <link rel="stylesheet" type="text/css" href="./css/myprofile.css" />

    <title>Pega!</title>
  </head>
  <body>
    <%- include('./partials/header.ejs'); -%>

    <main id="main">
      <div class="profile">
        <div id="barra">
          <div id="roxo"></div>
          <div id="foto">
            <img src="./assets/semfoto.png" alt="" />
          </div>
        </div>
        <div id="rowUser">
          <div>
            <h2><span id="nome">Brechó da Shel</span></h2>
            <p onclick="javascript:location.href='myprofile'">
              (<span id="onSale">06</span>) à venda
            </p>
            <!-- <p
              onclick="javascript:location.href='sold'"
              style="cursor: pointer;"
            >
              (<span>13</span>) vendidos
            </p> -->
          </div>
          <div></div>
        </div>
        <div id="rowInfo">
          <p id="place"></p>
        </div>
        <div id="rowButton">
          <button id="red" onclick="excluir()">Excluir</button>
          <button id="green" onclick="vender()">Marcar como vendido</button>
        </div>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"
    ></script>
    <%- include('./partials/footer.ejs'); -%>
    <script src="./js/anuncios.js"></script>
    <script src="./js/myprofile.js"></script>
  </body>
</html>
