<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/header.css" />
    <link rel="stylesheet" type="text/css" href="./css/footer.css" />
    <link rel="stylesheet" type="text/css" href="./css/sign.css" />

    <title>Pega!</title>
  </head>
  <body>
    <%- include('./partials/header.ejs'); -%>

    <main>
      <div id="rowFiltro">
        <div id="lineFilter"></div>
        <p>Cadastro</p>
        <div id="lineFilter2"></div>
      </div>

      <div class="sign">
        <h1>Dados pessoais</h1>
        <p>
          Campos obrigatórios são marcados com ( <span class="red">*</span> )
        </p>
        <form method="POST" id="cadastrar"> 
          <div class="columnForm">
            <div>
              <label>Nome: <span class="red">*</span></label>
              <input
                type="text"
                name="nome"
                id="nome"
                placeholder="Seu nome ou do seu brechó! :)"
              />
            </div>
            <div>
              <label>CPF: <span class="red">*</span></label>
              <input
                type="text"
                name="cpf"
                id="cpf"
                placeholder="xxx.xxx.xxx-xx"
                maxlength="15"
              />
            </div>
            <div>
              <label>RG: <span class="red">*</span></label>
              <input
                type="text"
                name="rg"
                id="rg"
                placeholder="xxxxxxxxxx-x"
                maxlength="12"
              />
            </div>

            <div>
              <label
                >Data de <br />nascimento: <span class="red">*</span></label
              >
              <input
                type="date"
                name="date"
                id="date"
                style="text-transform: uppercase; font-weight: 600; color:#c8c8c8"
              />
            </div>

            <div>
              <label>Telefone: </label>
              <input type="text" name="telefone" id="telefone" maxlength="13" />
            </div>

            <div>
              <label for="sex">Sexo:</label>
              <input type="radio" name="sex" id="fem" value="F" />
              Feminino
              <input type="radio" name="sex" id="masc" value="M" />
              Masculino
              <input type="radio" name="sex" id="outro" value="O" />
              Outro
            </div>
          </div>
          <div id="divise"></div>

          <div class="columnForm">
            <div>
              <label>Email: <span class="red">*</span></label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="pega@exemplo.com"
              />
            </div>
            <div>
              <label
                >Confirme </br>seu e-mail: <span class="red">*</span></label
              >
              <input
                type="text"
                name="email"
                id="email2"
                placeholder="pega@exemplo.com"
              />
            </div>
            <div id="row">
              <label>Senha: <span class="red">*</span></label>
              <div id="pswd">
              <input type="password" name="pwd" id="pwd" />
              <img src="./assets/icons/olhoaberto.svg"  id="olho" alt="" onclick="showPwd('pwd','olho')" >
            </div>
            </div>
          </div>
          <input type="submit" value="Cadastrar" id="submit" style="margin-top: 45%; background-color:#be5599; color: white; border: 1px solid #be5599 ;">
        </form>

        <!---<button onclick="addUser()">Cadastrar</button>-->
      </div>
    </main>

    <%- include('./partials/footer.ejs'); -%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"
    ></script>
    <script src="./js/cpf.js"></script>
    <script src="./js/pwd.js"></script>
    <script src="./js/localstorage.js"></script>
    <script src="./js/signup.js"></script>

  </body>
</html>
