<footer>
  <div class="firstbar">
    <!-- Div acima é pra gerenciar o conteudo da primeira parte do footer-->
    <!-- Div abaixo é pra gerenciar o conteudo de cada "seção" do footer-->
    <div class="fcontent">
      <h1 class="title">Sobre o Pega!</h1>
      <div class="barra"></div>
      <ul class="links">
        <li><a href="">Quem somos</a></li>
        <li><a href="">Manifesto</a></li>
        <li><a href="">Slow Fashion</a></li>
        <li><a href="">Valores</a></li>
        <li><a href="">Manual de Marca</a></li>
      </ul>
    </div>
    <!---->
    <div class="fcontent">
      <h1 class="title">Relacionamento</h1>
      <div class="barra"></div>
      <ul class="links">
        <li><a href="">Contato</a></li>
        <li><a href="">Tire sua dúvida</a></li>
        <li><a href="">Privacidade</a></li>
        <li><a href="">Segurança</a></li>
      </ul>
    </div>
    <!---->
    <div class="fcontent">
      <h1 class="title">Faq</h1>
      <div class="barra"></div>
      <ul class="links">
        <li><a href="">Como vender</a></li>
        <li><a href="">Como comprar</a></li>
        <li><a href="">Posso experimentar?</a></li>
        <li><a href="">Posso devolver?</a></li>
      </ul>
    </div>
    <!---->
    <div class="fcontent">
      <h1 class="title">Dicas do pega!</h1>
      <div class="barra"></div>
      <ul class="links">
        <li><a href="">Foto ideal</a></li>
        <li><a href="">Tendências</a></li>
        <li><a href="">Conquistando o cliente</a></li>
      </ul>
    </div>
    <!---->
    <div class="fcontent">
      <h1 class="title">Formas de pagamento</h1>
      <div class="barra"></div>
      <ul class="paymentlist">
        <li>
          <img src="./assets/logopag/Paypal.png" />
        </li>
        <li>
          <img src="./assets/logopag/picpay.png" />
        </li>
        <li style="color: #777;font-weight: 600;">Boleto</li>
        <li style="color: #777;font-weight: 600;">Dinheiro</li>
      </ul>
      <h1 class="title">Siga-nos na mídia</h1>
      <div class="barra"></div>
      <ul class="midia">
        <li>
          <a
            href="http://facebook.com/pegaof1cial"
            target="_blank"
            rel="noopener noreferrer"
            ><img src="./assets/midia/facebook.png" width="25px"
          /></a>
        </li>
        <li>
          <a
            href="http://instagram.com/pegaoficial"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="./assets/midia/instagram.png" width="25px"
          /></a>
        </li>
        <li>
          <a
            href="http://twitter.com/pegaofficial"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="./assets/midia/twitter.png" width="25px"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="lastbar">
    <div class="clastbar">
      <img
        src="./assets/Logo/logobranca.svg"
        width="8%"
        height="auto"
        id="fLogo"
      />

      <div>
        <p>
          &copy; Copyright 2019 - Todos os direitos reservados - pega.com.br
          brechó online LMTA CNPJ: 00000111/1100-00
        </p>
        <p>
          av José de Freitas Queiroz, 5003 – Cedro – Quixadá – Ceará 63902-580
        </p>
      </div>
      <div>
        <p class="left">
          Produzido por
          <strong
            >turma
            <div id="left">exclamada!</div></strong
          >
        </p>
      </div>
    </div>
  </div>
</footer>
