<header>
  <img src="./assets/logo/logoazul.svg" alt="Logo do Pega!" id="logo" />
  <div id="search">
    <input
      type="text"
      name="idSearch"
      id="idSearch"
      placeholder="Procure aqui :)"
    />

    <button id="btnSearch">
      <img src="./assets/search.svg" alt="Pesquisar" />
    </button>
  </div>
  <div id="user">
    Seja bem-vindo!
    <br />
    <strong>Cadastre-se agora.</strong>
  </div>
  <div id="cart">
    <img src="./assets/cart.svg" alt="Carrinho de compras" />
  </div>
</header>
