<div class="newsletter">
  <div class="texts">
    <div>Fique por dentro de tudo <br />que tรก <strong>pegando!</strong></div>
    <div><strong>Assine nossa newsletter!</strong></div>
  </div>
  <form action="" method="post">
    <input
      type="text"
      name="name"
      id="idName"
      placeholder="Seu nome"
      class="newsForm"
    />
    <div class="wrap">
      <input
        type="email"
        name="email"
        id="idEmail"
        placeholder="Seu e-mail"
        class="newsForm"
      />
      <button id="idBtn">Enviar</button>
    </div>
  </form>
</div>
