<div class="resume">
  <h1>Resumo</h1>
  <div id="lineResume"></div>
  <div id="subtotal">
    <p>Subtotal:</p>
    <p id="vSub">R$ 30</p>
  </div>
  <div id="frete">
    <p>Frete:</p>
    <p id="vFrete">R$ 20</p>
  </div>
  <div id="total">
    <p>Total:</p>
    <p id="vTotal">R$ 50</p>
  </div>
  <button id="closeShop">fechar compra</button>
  <button id="continueShop">continuar comprando</button>
</div>
