main {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: start;
  align-items: center;
}

#rowFiltro {
  display: flex;
  width: 80%;
  align-items: center;
  color: #be5599;
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 3%;
  margin-bottom: 5%;
}
#rowFiltro p {
  color: #4f9fcc;
}
#lineFilter {
  width: 80%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.363);
  margin-right: 2%;
}

#lineFilter2 {
  width: 4%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.363);
  margin-left: 2%;
}

.red {
  color: rgb(156, 0, 0);
  font-size: 1.2em;
}

form {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  width: 80%;
  color: #707070;
  font-size: 1em;
  font-weight: 600;
  margin-top: 3%;
  margin-bottom: 3%;
}

form input,
form textarea {
  border-radius: 7px;
  border: 1px solid #4f9fcc;
  background-color: white;
  color: #707070;
  margin-left: 2%;
  margin-right: 1.5%;
  margin-bottom: 5%;
  padding: 10px;
  font-size: 1em;
  align-self: center;
  font-family: "Gilroy";
}

form input::-webkit-input-placeholder {
  color: #c8c8c8;
  font-weight: 600;
}
form textarea::-webkit-input-placeholder {
  color: #c8c8c8;
  font-weight: 600;
  font-size: 1.2em;
}

#thumbnail {
  width: 80%;
  height: 400px;
  background-color: #f8f8f8;
  border: 2px solid #be5599;
  border-radius: 7px;
  display: flex;
  justify-content: center;
}
#thumbnail #picture {
  display: none;
}
#thumbnail img {
  width: 100%;
  height: 100%;
}

.coluna {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
}

#title {
  width: 90%;
}
#desc {
  width: 90%;
}

#rowAd {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50px;
}

.filterOpt {
  flex-flow: column;
  border: 1px solid #be5599;
  border-radius: 5px;
  padding: 10px;
  color: #be5599;
  font-weight: 600;
  font-size: 0.7em;
  width: 25%;
  margin-left: 3%;
  margin-top: 1%;
  cursor: pointer;
}
.filterOpt:first-child {
  margin-left: 2%;
}

.menudropdown {
  cursor: pointer;
  z-index: 100;
  display: flex;
  flex-flow: column;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 10px 10px 0px rgba(88, 88, 88, 0.26);
  width: 10%;
  border-radius: 5px;
  margin-left: -2.3%;
  margin-top: 1%;
  display: none;
}
.menudropdown li {
  padding: 9px;
}

.menudropdown li:hover {
  color: #4d9ecc;
}

.menudropdown select {
  border: 0px solid;
  color: #be5599;
}

#valor {
  margin: 0;
  align-self: center;
  width: 30%;
}

#rowrow {
  margin: 5% 0 3% 2%;
  display: flex;
  flex-flow: row;
  justify-content: left;
  width: 88%;
}

#rowrow span {
  margin-left: 2%;
}
#rowrow input {
  margin-left: 2%;
}
#rowrow {
  color: #4d9ecc;
}
#cor {
  width: 70%;
}
#btn {
  background-color: #f16364;
  color: #fff;
  border: 1px solid #f16364;
  font-weight: 600;
  width: 20%;
  margin-top: 5%;
  margin-left: 80%;
}

#labelMarca {
  width: 100%;
  color: #4d9ecc;
}
#labelMarca p {
  color: #f16364;
  opacity: 0.8;
  font-size: 0.8em;
  margin-top: -3%;
}

#marca {
  width: 60%;
}

#labelPagamento {
  width: 100%;
  display: flex;
  margin: 5% 0 0 -5%;
}
#labelPagamento input {
  margin-left: 5%;
  margin-right: 2%;
}

#labelPagamento img {
  margin-top: -5%;
}
#labelPagamento p {
  color: #be5599;
}
