#rowUser p {
  cursor: pointer;
}

#rowButton {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: flex-end;
  margin-top: 2%;
}

#rowButton button {
  margin-left: 2%;
  border-radius: 7px;
  color: white;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}

#red {
  width: 10%;
  border: 1px solid #f16364;
  background-color: #f16364;
}

#blue {
  width: 15%;
  border: 1px solid #4f9fcc;
  background-color: #4f9fcc;
}

#green {
  width: 18%;
  border: 1px solid #4fcc57;
  background-color: #4fcc57;
}

.rowAnuncio {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;
}
.rowAnuncio p {
  color: #4f9fcc;
  font-size: 1.1em;
  font-weight: 600;
}

.inPromo {
  margin-top: 3%;
}
