main {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.anuncio {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin-top: 5%;
}
.anuncio h2 {
  color: #414041;
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 2%;
}
.infoAd {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  padding: 20px;
  border: 1px solid #c0c0c0;
  border-radius: 7px;
}
.infoAd .img {
  width: 15%;
  margin-right: 5%;
}
.img img {
  width: 100%;
}
.details {
  display: flex;
  flex-flow: column;
  width: 65%;
}

.infoAd h3 {
  font-size: 1.2em;
  color: #be5599;
  font-weight: 600;
  margin-bottom: 3%;
}
.infoAd p {
  color: #707070;
  font-size: 1em;
  width: 70%;
  margin-bottom: 10%;
}
.infoAd h4 {
  font-weight: 700;
  font-size: 0.9em;
}

.action {
  display: flex;
  flex-flow: row;
  width: 15%;
}
.action img {
  width: 25%;
  margin-left: 10%;
}
