@media only screen and (max-width: 600px) {
  #columnResume {
    width: 100%;
  }
  .resume h1 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 600px) {
  #columnResume {
    width: 100%;
  }
  .resume h1 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 768px) {
  #columnResume {
    width: 100%;
  }
  .resume h1 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1200px) {
  .resume {
    margin-bottom: 50%;
  }
  #columnResume {
    width: 23%;
  }
}

#columnResume {
  display: flex;
  flex-flow: column wrap;
}

.resume {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  justify-self: end;
}

.resume h1 {
  font-weight: 600;
  color: #414041;
}

#lineResume {
  width: 100%;
  height: 1px;
  background-color: #707070;
  margin: 4% 0 4% 0;
}

#subtotal,
#frete,
#total {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 4%;
  width: 100%;
}

#subtotal p,
#frete p,
#total p {
  margin-right: 3%;
  color: #414041;
}

#total {
  font-weight: 600;
  margin-bottom: 10%;
}

button {
  height: 27px;
  border-radius: 7px;
  border: 1px solid #f16364;
  font-weight: 700;
  margin-bottom: 5%;
}
#closeShop {
  background-color: #f16364;
  color: white;
  font-weight: 700;
  margin-bottom: 5%;
}


#continueShop {
  background-color: #fff;
  color: #f16364;
}
